<h1>New Folder</h1>

<div class="container">
  <div class="row">
    <div class="cols-12">
      <%= render 'form', folder: @folder %>
    </div>
  </div>
</div>


<%= link_to 'Back', folders_path %>
